body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 30px 0;
}

h1 {
    text-align: center;
    color: black;
}

.icone-com-texto {
    display: flex;
    align-items:center;
}

.icone-com-texto img {
    margin-right: 10px;

}

li {
    text-align: center;
    margin: 10px;

}

.OBJETIVO h2 {
    text-align: center;
}

.OBJETIVO li{
    list-style: none;
}

.EXPERIENCIA h2 {
    text-align: center;
}

.HABILIDADES h2 {
    text-align: center;
}

.trabalho-texto li {
    list-style: none;
}

.educacao-texto li{
    list-style: none;
    text-align: left;
   
}

img{
    border-radius: 150px;
    
}

